# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres 
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the 
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL="postgres://avnadmin:AVNS_SoPH3-gdjnKzjFDOqzA@pg-32004df1-abhiramnanabolu-6b91.b.aivencloud.com:26833/defaultdb?sslmode=require"
GOOGLE_CLIENT_ID = 626353915079-ai8omqm0a2h028tktmnic2o1aadd0941.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET = 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
NEXTAUTH_SECRET="E2g52mfLAU9XNOPYvt0LaE4ovOv9KBbGW8fx7g7yC1k="
NEXTAUTH_URL="http://localhost:3000"